.step {
  width: calc(320px + (376 - 320) * ((100vw - 320px) / (1440 - 320)));
  aspect-ratio: 10/1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--black-40);
  -webkit-mask:
    url("/step-wrapper-mask.svg") center/contain no-repeat,
    linear-gradient(#000000 0 0);
  mask-composite: intersect;
  mask-size: contain;

  &::before {
    content: "";
    inset: 0;
    position: absolute;
    background: var(--white-100);
    -webkit-mask:
      url("/step-content-mask.svg") center/contain no-repeat,
      linear-gradient(#000000 0 0);
    mask-composite: exclude;
    mask-size: contain;
    z-index: -1;
  }

  &.finished {
    .content {
      color: var(--black-40);
    }
  }

  &.current {
    .content {
      color: var(--orange-100);
    }
    background: var(--orange-100);
  }
}
