.step {
  width: calc(320px + (376 - 320) * ((100vw - 320px) / (1440 - 320)));
  height: calc(32px + (40 - 32) * ((100vw - 320px) / (1440 - 320)));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    mask-size: cover;
    mask-position: center;
    mask-composite: intersect;
  }

  &::after {
    background: var(--black-40);
    -webkit-mask:
      url("/step-wrapper-mask.svg") center/cover no-repeat,
      linear-gradient(#000000 0 0);
    mask-composite: intersect;
    z-index: -2;
  }

  &::before {
    background: var(--white-100);
    -webkit-mask:
      url("/step-content-mask.svg") center/cover no-repeat,
      linear-gradient(#000000 0 0);
    mask-composite: exclude;
    z-index: -1;
  }

  &.finished {
    color: var(--black-40);
  }

  &.current {
    color: var(--orange-100);
    &::after {
      background: var(--orange-100);
    }
  }
}
