.homePage {
  height: 100dvh;
  background: linear-gradient(
    to bottom right,
    var(--white-100) 50%,
    var(--orange-5) 50%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 16px 48px;
  display: flex;
  gap: 24px;

  .contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    a {
      width: fit-content;
      margin-top: auto;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .contentContainer {
      gap: 64px;
      align-items: start;

      h1 {
        text-align: start;
      }

      a {
        margin-top: 0;
      }
    }
  }
}
