.optionButton {
  width: 100%;
  aspect-ratio: 40/7;
  z-index: 1;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 12%;
  background: var(--black-40);
  -webkit-mask:
    url("/option-button-wrapper-mask.svg") center/contain no-repeat,
    linear-gradient(#000000 0 0);
  mask-composite: intersect;
  mask-size: contain;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--white-100);
    -webkit-mask:
      url("/option-button-content-mask.svg") center/cover no-repeat,
      linear-gradient(#000000 0 0);
    mask-composite: exclude;
    mask-size: cover;
    z-index: -1;
  }

  &.correct {
    background: var(--green-100);
    &::before {
      background: var(--green-5);
    }
  }

  &.wrong {
    background: var(--red-100);
    &::before {
      background: var(--red-5);
    }
  }

  &.selected {
    background: var(--black-40);
    &::before {
      background: var(--orange-5);
    }
  }

  strong {
    color: var(--orange-100);
  }

  &:hover {
    background: var(--orange-100);
  }
}
